
/***** basket cart ******/

.cart-section__cart{
    position: sticky;
    top: 30px;
    
}

.cost-com-top {
    padding: 10px;
    text-align: center;
}

.cost-tot {
    border-top: solid 1px #ffdddd;
    padding: 10px;
    text-align: center;
}

.heading-show-cost {
    color: #616161;
    text-align: end;
    font-size: 14px;
}

.heading-show-cost-first {
    font-size: 12px;
    color: #616161;
}

.heading-show-cost-num {
    color: maroon !important;
    text-align: end;
}

.heading-show-cost-num-litt {
    font-size: 12px;
    color: #9e9e9e;
}

.heading-show-cost-num-litt-per {
    font-size: 12px;
    color: #ef394e;
}

/**** check out *****/

.cart-heading{
    text-align: right;
    font-size: 24px;
}

.cart-heading h1{
    font-size: 24px;
}

.send-section__customer{
    border: solid 1px #fff3f3;
    background-color: #fff3f3;
    width: 100%;
    padding: 15px;
    border-radius: 10px;
    margin: 15px 0;
    text-align: right;
}

.type-sending{
    border: solid 1px #9e9e9e;
    padding: 10px;
    text-align: right;
    display: flex;
    align-items: center;
    margin: 10px 0;
    color: #616161;
    border-radius: 5px;
}

.type-sending input[type=radio]{
    margin-left: 10px;
    cursor: pointer;
}

.select-address__cart{
    text-align: right;
}


.select-tab__item-cart{
    margin-top: 15px;
    background-color: #fff;
    text-align: center; 
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    
  } 

.select-tab__item-cart .nav-link{
    color: #616161 !important;
    width: 14.2%;
    border: solid 1px #eee;
  }

  .select-tab__item-cart .nav-link:hover{
    background-color: #fff3f3;
  }
  
  .select-tab__item-cart .active{
    color: #820032 !important;
    background-color: #fff;
    border-top: solid 2px #820032;
    border-bottom: none;
    font-weight: bold;
  }

  .time-sending{
    border: solid 1px #ddd;
    background-color: #f8f8f8;
    color: #9e9e9e;
    padding: 10px;
    text-align: right;
    display: flex;
    align-items: center;
    margin: 10px 0;
    border-radius: 5px;
    font-size: 13px;
  }

  .time-sending input[type=radio]{
    margin-left: 10px;
    cursor: pointer;
}

.date-cart{
    font-size: 13px;
}

  @media screen and (max-width: 1000px) {
    .select-tab__item-cart .nav-link{
        width: 25%;
      }
  }

  @media screen and (max-width: 768px) {
    .select-tab__item-cart .nav-link{
        width: 33.33333%;
      }
  }

  @media screen and (max-width: 600px) {
    .select-tab__item-cart .nav-link{
        width: 45%;
      }
  }

  /************ pay *************/

  .pay-section{
      border: solid 1px #ddd;
      border-radius: 5px;
      padding: 30px;
      text-align: center;
  }

 .pay-succes{
     background-color: #ddffdd;
     color: green;
     border-radius: 5px;
     padding: 30px;
     text-align: center;
 }

.pay-succes-head{
    font-size: 22px;
    font-weight: bold;
}

.pay-code{
    background-color: #eee;
      border-radius: 5px;
      padding: 15px;
      width: 90%;
      margin: 30px auto;
}

.pay-failed{
    background-color: #ffcccc;
    color: maroon;
    border-radius: 5px;
    padding: 30px;
    text-align: center;
}

.pay-failed-head{
   font-size: 22px;
   font-weight: bold;
}

.order-code__section{
    background-color: #fff3f3;
    border: solid 1px #820032;
    width: 85%;
    border-radius: 5px;
     padding: 30px;
     text-align: center;
     margin: 30px auto;
     direction: rtl;
}

.order-code__head{
    color: #820032;
    font-size: 26px;
    font-weight: bold;
}

.order-type{
    background-color: #eee;
    margin: 15px auto;
    width: 80%;
    border-radius: 5px;
    color: #616161;
    padding: 30px;
}

@media screen and (max-width: 600px) {
    .order-code__head {
        font-size: 18px;
      }

      .pay-succes-head{
        font-size: 14px;
    }

    .pay-failed-head{
        font-size: 14px;
    }
  }