.product-item__show{
    padding: 15px;
}

.product-item__show h1{
font-size: 24px;
color: #212121;
}

.product-item__show h2{
    font-size: 22px;
}

.product-item__show p{
    text-align: justify;
    color: #9e9e9e;
    margin-top: 30px;
    line-height: 2;
}

.head-color__item-mark{
    color: royalblue;
}

.product-slide__image{
    overflow: hidden;
    border-radius: 5px;
    object-fit: cover;
    width: 100%;
    background-color: #eee;
}
.product-slide__image img{
    height: 100%;
    width: 100%;
}